body {
    color:whitesmoke;
    background-image: url("blok1-website-background.jpg");
    font-family: Verdana;
    font-size: 1em;
}

.head {
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 16px;
    height: 12%;
    position: absolute;
    background-color: #373D38;
    border-color: #519BAB;
    border-style: solid;
}

.head h1 {
    left: 1.5%;
    position: relative;
}

.navigation {
    width: 85%;
    padding: 1%;
    left: 12.5%;
    margin-top: 94px;
    position: absolute;
    background-color: #636969;
    border-color: #519BAB;
    border-style: solid;
}

.navigation a {
    text-decoration: none;
    color: whitesmoke;
    padding-right: 24px;
}

.navigation a:hover {
    text-decoration: none;
    color: #4989A7;
    padding-right: 22px;
    border-color: #4989A7;
    border-style: solid;
    margin-right: 2px;
}

.sidebar {
    height: 100%;
    top: 102px;
    left: 0px;
    width: 12%;
    position: absolute;
    z-index: 1;
    background-color: #636969;
    overflow-x: hidden;
    padding-top: 60px;
    margin-right: 0px;
    border-color: #519BAB;
    border-style: solid;
}

.sidebar a {
    padding: 8px 8px 8px 24px;
    margin: 12px 0px;
    text-decoration: none;
    color: whitesmoke;
}

.content {
    position: absolute;
    left: 13%;
    top: 37%;
    background-color: #373D38;
    border-color: #519BAB;
    border-style: solid;
    padding: 0px 32px;
    border-color: #519BAB;
    border-style: solid;
    margin-top: 18px;
}